[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "==0.0.203"
openai = "*"
qdrant-client = "*"
tiktoken = "*"
pymupdf = "*"
uvicorn = "==0.23.2"
asyncio = "*"
pydantic = "*"
starlette = "*"
beautifulsoup4 = "*"
sqlalchemy = "*"
fastapi = "*"
psycopg2-binary = "*"
isort = "*"
black = "*"
flake8 = "*"
pre-commit = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.0"
